MAIL_RSSW_USER="jacques@rssw.co.za"
MAIL_RSSW_PASS="super-secret-password"
MAIL_RSSW_FROM="jacques@rossouw.nz"
MAIL_RSSW_SMTP_HOST="smtp.rssw.co.za"
MAIL_RSSW_SMTP_PORT="465"
MAIL_RSSW_IMAP_HOST="imap.rssw.co.za"
MAIL_RSSW_IMAP_PORT="993"
